@{
    ViewData["Title"] = "Cobro de Servicios";
    var totalGeneral = 0f;
    var totalFinal = 0f;
    var iva = 0f;
    var prcIva = 0.19f;
}

<form id="frm-generico">
    <div class="row">
        <div class="col-lg-12">
            <div id="demo-panel-network" class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">


                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="RutPaciente">Paciente</label>
                            <div class="input-group mar-btm">
                                <strong>@ViewBag.Cotizacion.Cliente.Nombres</strong><br />
                                <small>@ViewBag.Cotizacion.Cliente.Rut</small><br />
                                <small>@ViewBag.Cotizacion.Cliente.PrevisionSalud</small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="RutPaciente">Dr. Solicitante</label>
                            <div class="input-group mar-btm">
                                <strong>@ViewBag.DrMandante.Nombres</strong><br />
                                <small>Orden Nro: @ViewBag.Cotizacion.FolioSolicitante</small><br />
                                <a href="#!" data-toggle="modal" data-target="#modal-imagen" class="btn-link"><small>Visualizar oden de trabajo</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Servicio</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itm in ViewBag.Servicios)
                                    {
                                        var total = 0;
                                        @if(itm.Servicio != null)
                                        {
                                            total = itm.Cantidad*itm.Servicio.ValorCosto;
                                            <tr>
                                                <td>
                                                    <strong>@itm.Servicio.Nombre</strong><br />
                                                    <small>@itm.Servicio.Resumen</small>
                                                </td>
                                                <td>@itm.Cantidad</td>
                                                <td>$@string.Format("{0:n0}", itm.Servicio.ValorCosto)</td>
                                                <td>$@string.Format("{0:n0}",total)</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            total = ViewBag.Cotizacion.PrecioCotizacion;
                                            <tr>
                                                <td>
                                                    <strong>Servicio Especial</strong><br />
                                                    <small>@ViewBag.Cotizacion.Resumen</small>
                                                </td>
                                                <td>1</td>
                                                <td>$@string.Format("{0:n0}",ViewBag.Cotizacion.PrecioCotizacion)</td>
                                                <td>$@string.Format("{0:n0}",ViewBag.Cotizacion.PrecioCotizacion)</td>
                                            </tr>
                                        }
                                        totalGeneral = totalGeneral + total;

                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="clearfix">
                                <table class="table invoice-total">
                                    <tbody>
                                        <tr class="hidden">
                                            <td>Saldo Cuenta:</td>
                                            <td class="h4 showapagar">$0</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total:</strong></td>
                                            <td class="h4 showapagar">
                                                $@string.Format("{0:n0}", totalGeneral)
                                                <input type="hidden" value="@totalGeneral" name="ValorTotal" />
                                                <input type="hidden" value="1" name="AceptaPresupuesto" id="acepta-presupuesto"/>
                                                <input type="hidden" value="@ViewBag.Cotizacion.NumeroTicket" name="NumeroTicket"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Forma Pago:</strong></td>
                                            <td class="text-bold h4 showapagar">
                                                <select id="formaPago" name="FormaPago" class="form-control" required>
                                                    <option value="EFC">Efectivo</option>
                                                    <option value="TBK">Red Compra</option>
                                                    <option value="CHQ">Cheque</option> 
                                                    <option value="TRA">Transferencia</option> 
                                                </select>
                                            </td>
                                        </tr>
                                        <tr id="swNumDoc" style="display:none;">
                                            <td><strong>N° Documento:</strong></td>
                                            <td class="text-bold h4 showapagar">
                                                <input type="text" class="form-control" name="NumeroDocumento" style="text-align:right;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>A Pagar:</strong></td>
                                            <td class="text-bold h4 showapagar">
                                                <input type="text" class="form-control" name="ValorPagar" value="@totalGeneral" style="text-align:right;" required>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   

                 

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right no-print">
                                <button class="btn btn-warning resultado-presupuesto" data-acepta="0">Cliente Rechaza Presupuesto</button>
                                <button class="btn btn-primary resultado-presupuesto" id="btn-confirmar" data-acepta="1">Generar Recibo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
        </div>
    </div>

</form>


<!-- Modal -->
<div class="modal fade" id="modal-imagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Imagen Orden de Trabajo</h4>
            </div>
            <div class="modal-body">
                <img src="@ViewBag.Cotizacion.ImagenOrdenSolicitante" class="img-fluid rounded" style="max-width: 500px; height: auto;" alt="Orden de Trabajo" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
}
@section Scripts{
    <script src="~/lib/signalr.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#formaPago').on('change', function(){
                console.log($(this).val())
                if($(this).val() != "EFC"){
                    $('#swNumDoc').show();
                }else{
                    $('#swNumDoc').hide();
                }
            });

            $('#frm-generico').on('submit', function (e) {
                e.preventDefault();
                const initialLabelText = $("#btn-confirmar").text();
                $("#btn-confirmar").prop("enabled", false).text("...Cargando");
        
                var model = $(this).serializeFormJSON();
                 $.ajax({
                    type: "POST",
                    url: "/api/flujo-interno/cobro-servicios",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8"
                }).done(function (data) {
                    console.log(data)
                    $.niftyNoty({
                        type: "success",
                        container : "floating",
                        title : "Notificaciones Workflow",
                        message : "Etapa Finalizada. Estamos cerrando esta tarea!!<br/><small>Este mensaje se autocierra en 5 segundos y te redirige a tu gestión</small>",
                        closeBtn : true,
                        timer : 5000,
                        onHidden: function(){
                            
                            location.href = '/mi-gestion'
                            window.open('/FlujoInterno/VerComprobante?ticket=@ViewBag.Cotizacion.NumeroTicket')
                        }
                    });
                }).fail(function (errMsg) {
                    console.log(errMsg);
                    $.niftyNoty({
                        type: "warning",
                        container : "floating",
                        title : "Notificaciones Workflow",
                        message : ":( Problemas al Finalizar Etapa, contacta a soporte",
                        closeBtn : false,
                        timer : 5000
                    });
                }).always(function () {
                    $("#btn-confirmar").prop("enabled", true).text(initialLabelText);
                });
            });

            $('.resultado-presupuesto').on('click', function(){
                $('#acepta-presupuesto').val($(this).data('acepta'))
            });

            
        });
    </script>
}
