
@{
    ViewData["Title"] = "Instrumento y/o Máquina";
}

<form id="frm-generico">
    <div class="row">
        <div class="col-lg-12">
            <div id="demo-panel-network" class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button id="demo-panel-network-refresh" class="btn btn-default btn-active-primary" data-toggle="panel-overlay" data-target="#demo-panel-network"><i class="demo-psi-repeat-2"></i></button>
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Instrumento</label>
                                <input type="text" value="@(ViewBag.Id > 0 ? ViewBag.instru.Nombre : "")" name="NombreInstrumento" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                                <label class="control-label">Código</label>
                                <input type="text" value="@(ViewBag.Id > 0 ? ViewBag.instru.Codigo : "")" name="CodigoInstrumento" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Estado</label>
                                <select class="form-control" name="Estado">
                                    <option value="">Seleccione</option>
                                    @if(ViewBag.editando && ViewBag.instru.Estado == "BN"){
                                        <option value="BN" selected>Bueno</option>
                                    }else{
                                        <option value="BN">Bueno</option>
                                    }   
                                      
                                    @if(ViewBag.editando && ViewBag.instru.Estado == "RG"){
                                        <option value="RG" selected>Regular</option>
                                    }else{
                                        <option value="RG">Regular</option>
                                    }

                                    @if(ViewBag.editando && ViewBag.instru.Estado == "ML"){
                                        <option value="ML" selected>Malo</option>
                                    }else{
                                        <option value="ML">Malo</option>
                                    }

                                    @if(ViewBag.editando && ViewBag.instru.Estado == "BJ"){
                                        <option value="BJ" selected>De Baja</option>
                                    }else{
                                        <option value="BJ">De Baja</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                                <label class="control-label">Marca</label>
                                <select class="form-control" id="slMarca" name="Marca">
                                    <option value="">Selecione</option>
                                    @foreach(var itm in ViewBag.marcaListado)
                                    {
                                        @if(ViewBag.editando && ViewBag.instru.Marca.Id == itm.Id)
                                        {
                                            <option value="@itm.Id" selected>@itm.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.Id">@itm.Nombre</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Descripción</label>
                                <textarea name="Descripcion" class="form-control">@(ViewBag.Id > 0 ? ViewBag.instru.Descripcion : "")</textarea>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="hidden" name="Id" value="@ViewBag.Id" />
                    <a href="/MantenedorInstrumento/Listado" class="btn btn-primary" >Volver</a>
                    <button class="btn btn-success submit-generico" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js" ></script>

    <script>
        $(function () {
         $('#frm-generico').bootstrapValidator({
                excluded: [':disabled', ':not(:visible)'],
                feedbackIcons: [],
                fields: {
                    NombreInstrumento: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un Instrumento'
                            }
                }
                    },
                    CodigoInstrumento: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un Código'
                            }
                }
                    },
                      Estado: {
                        validators: {
                            notEmpty: {
                                message: 'Debe Seleccionar un Estado'
                            }
                }
                    },
                        Marca: {
                        validators: {
                            notEmpty: {
                                message: 'Debe Seleccionar una Marca'
                            }
                }
                    },
                     Descripcion: {
                        validators: {
                            notEmpty: {
                                message: 'Debe Seleccionar una Marca'
                            }
                }
                    },
                    }
   }).on('success.form.bv', function (e) {
                // Prevén que se mande el formulario
                e.preventDefault();
                var $form = $(e.target);
                let model = $form.serializeFormJSON();
                if(model.Id>0)
                {
            $.ajax({
                    type: "POST",
                    url: "/api/mantenedores/instrumento/editar",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8" 
                }).done(function (data) {
                    $.niftyNoty({
                        type: "success",
                        container : "floating",
                        title : "Suceso Exitoso",
                        message : "Instrumento se ha guardado correctamente",
                        closeBtn : true,
                        timer : 3000,
                        onHide:function(){
                            location.href=`/MantenedorInstrumento/Listado`;
                        }
                    });
                }).fail(function (xhr, textStatus) {
                    $.niftyNoty({
                        type: "warning",
                        container : "floating",
                        title : "Suceso Erroneo",
                        message : "Está mal: " + textStatus,
                        closeBtn : false,
                        timer : 5000
                    });
                }).always(function () {
                    $(".submit-generico").html("Guardar");
                });                    
                }
                else
                {
                    $.ajax({
                    type: "POST",
                    url: "/api/mantenedores/instrumento/guardar",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8" 
                }).done(function (data) {
                    $.niftyNoty({
                        type: "success",
                        container : "floating",
                        title : "Suceso Exitoso",
                        message : "Instrumento se ha guardado correctamente",
                        closeBtn : false,
                        timer : 5000
                    });
                    $form.data('bootstrapValidator').resetForm(true);
                }).fail(function (xhr, textStatus) {
                    $.niftyNoty({
                        type: "warning",
                        container : "floating",
                        title : "Suceso Erroneo",
                        message : "Está mal: " + textStatus,
                        closeBtn : false,
                        timer : 5000
                    });
                }).always(function () {
                    $(".submit-generico").html("Guardar");
                });
                }
                console.log(model);
                return false;
                
            });
        });
    </script>
    }







