<div class="row mar-top mar-bottom">
    <div class="col-sm-12">
        <div class="row ">
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Mandante</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">@ViewBag.entidadSolicitante.RazonSocial</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Nro. Orden</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">@ViewBag.cotizacion.OrdenFolio</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Paciente</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">@ViewBag.cotizacion.RutPaciente \ @ViewBag.cotizacion.NombrePaciente</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Momento Inicio Solicitud</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">@ViewBag.solicitud.FechaInicio</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<hr />