
@{
    ViewData["Title"] = "Listado Solicitudes Material Mensual";
}

<form id="frm-generico">
    <div class="row">
        <div class="col-lg-12">
            <div id="demo-panel-network" class="panel">
                <div class="panel-heading">
                    
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="table-responsive mar-top">
                                <table id="table-activas" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>codigo</th>
                                            <th>Fecha Solicitud</th>
                                            <th>Comentarios</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var soli in ViewBag.SolicitudesPendientes)
                                        {
                                            <tr>
                                                <td><a class="btn-link" data-toggle="modal" data-target="#modal-resolusion" href="#" data-id="@soli.Id">@soli.Id.Substring(0,8)</a></td>
                                                <td> @soli.FechaSolicitud </td>
                                                <td> @soli.Comentarios </td>
                                                <td> @soli.Estado </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                </div>
            </div>
        </div>
    </div>

    <div id="modal-resolusion" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Revision de Solicitud de Material</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-bold">Solicitante:</label>
                            <label class="text-small" id="show_solicitante"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-bold">Comentarios:</label><br/>
                            <label class="text-small" id="show_comentarios"></label>
                             <hr/>
                        </div>
                    </div>
                    
                   
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Material</th>
                                        <th>Cantidad Solicitada</th>
                                        <th>Stock Actual</th>
                                    </tr>
                                </thead>
                                <tbody id="show_materiales">
                                    
                                </tbody>
                            </table>
                             <hr/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txt-comentarios-cierre" class="form-label">Comentarios Cierre</label>
                                <textarea id="txt-comentarios-cierre" cols="10" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="id-solicitud" value="" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="btn-rechazar">Rechazar</button>
                    <button type="button" class="btn btn-success" id="btn-aprobar">Aprobar</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>
        $(function(){
            $('#modal-resolusion').on('show.bs.modal', function(event){

                var $opener = $(event.relatedTarget);
                var id = $opener.data('id');
                $('#id-solicitud').val(id);
                $.ajax({
                    type: "GET",
                    url: `/MantenedorMaterialMensual/ObtenerSolicitud/${id}`
                }).done(function (data) {

                    $('#show_solicitante').text(data.solicitante.nombres);
                    $('#show_comentarios').text(data.solicitud.comentarios);

                    $.each(data.materiales, function(i, material){

                        $('#show_materiales').append(
                            $('<tr>')
                             .append(
                                $('<td>').html(`<strong>${material.materialMensual.nombre}</strong><br/><small>${material.materialMensual.descripcion}</small>`)
                            ).append(
                                $('<td>').html(material.cantidadMateriales)
                            )
                            .append(
                                $('<td>').html(material.materialMensual.stockActual)
                            )
                        )
                    });
                });
            });

            $('#modal-resolusion').on('hide.bs.modal', function(event){
                $('#show_solicitante').text('');
                $('#show_comentarios').text('');
                $('#show_materiales').html('');
                $('#id-solicitud').val('');
            });

            $('#btn-rechazar').on('click', function(){
                procesarSolicitud('Rechazado');
            });

            $('#btn-aprobar').on('click', function(){
                procesarSolicitud('Aprobado');
            });
        });


        function procesarSolicitud(tipo = 'Aprobado')
        {
            var modelo = {
                tipoResultado: tipo,
                comentarios: $('#txt-comentarios-cierre').val(),
                idSolicitud: $('#id-solicitud').val()
            };

            $.ajax({
                type: "POST",
                url: "/MantenedorMaterialMensual/ProcesarSolicitud",
                data: JSON.stringify(modelo),
                contentType: "application/json; charset=utf-8"
            }).done(function (data) {
                $.niftyNoty({
                    type: "success",
                    container: "floating",
                    title: `Solicitud Material Mensual`,
                    message: `Solicitud Resuelta con éxito`,
                    closeBtn: true,
                    timer: 5000,
                    onHidden: function() {
                        location.reload();
                    }
                });
            });
        }
    </script>

}