
@{
    ViewData["Title"] = "Material Mensual";
}

<form id="frm-generico">
    <div class="row">
        <div class="col-lg-12">
            <div id="demo-panel-network" class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button id="demo-panel-network-refresh" class="btn btn-default btn-active-primary" data-toggle="panel-overlay" data-target="#demo-panel-network"><i class="demo-psi-repeat-2"></i></button>
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h1>@ViewBag.tipoSelected</h1>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Material</label>
                                <input type="text" value="@(ViewBag.Id > 0 ? ViewBag.mensual.Nombre : "")" name="Nombre" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                                <label class="control-label">Marca</label>
                                <select  name="Marca"  class="form-control">
                                    <option value="">Seleccione</option>
                                    @foreach(var itm in ViewBag.marcaListado)
                                    {
                                        if(ViewBag.editando && ViewBag.mensual.Marca.Id == itm.Id)
                                        {
                                            <option value="@itm.Id" selected>@itm.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.Id">@itm.Nombre</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                       
                         <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Unidad</label>
                                <select class="form-control" id="sslUnidadMedida" name="sslUnidadMedida">
                                    <option value="">Seleccione</option>
                                    @foreach(var itm in ViewBag.unidadmed)
                                    {
                                        if(ViewBag.editando && ViewBag.mensual.UnidadMedida.Id == itm.Id)
                                        {
                                            <option value="@itm.Id">@itm.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.Id">@itm.Nombre</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                                <label class="control-label">Cantidad</label>
                                <input type="text" value="@(ViewBag.Id > 0 ? ViewBag.mensual.Cantidad : "")" name="Cantidad" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                                <label class="control-label">Stock</label>
                                <input type="text" value="@(ViewBag.Id > 0 ? ViewBag.mensual.StockAlerta : "")" name="Stock" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                                <label class="control-label">Codigo</label>
                                <input type="text" value="@(ViewBag.Id > 0 ? ViewBag.mensual.Codigo : "")" name="Codigo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Descripción</label>
                                <textarea name="Descripcion" class="form-control">@(ViewBag.Id > 0 ? ViewBag.mensual.Descripcion : "")</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="hidden" name="Id" value="@ViewBag.Id" />
                    <a href="/MantenedorMaterialMensual/Listado" class="btn btn-primary" >Volver</a>
                    <button class="btn btn-success submit-generico" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script src="~/Assets/plugins/unitegallery/js/unitegallery.min.js"></script>
    <script src="~/Assets/plugins/unitegallery/themes/tiles/ug-theme-tiles.js"></script>
    

    <script type="text/javascript">
        $(function () {

            $('#frm-generico').on('submit', function (e) {
                e.preventDefault();
                var model = $(this).serializeFormJSON();
                console.log(model)

                $.ajax({
                    type: "POST",
                    url: "/api/mantenedores/materialmensual/guardar",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8"
                }).done(function (data) {
                    $.niftyNoty({
                        type: "success",
                        container : "floating",
                        title : "Suceso Exitoso",
                        message : "Los datos del Material Mensual se han guardado correctamente",
                        closeBtn : false,
                        timer : 5000
                    });
                    $('#frm-generico')[0].reset();
                }).fail(function (errMsg) {
                    console.log(errMsg);
                }).always(function () {
                     
                });

            });

        });
    </script>
    }










