@{
    ViewData["Title"] = "Ingreso de Materiales";
    var modelo = new {
        nombre = ViewBag.editando ? ViewBag.materialDisponible.Nombre : "",
        precio = ViewBag.editando ? ViewBag.materialDisponible.PrecioUnidad : "",
        alertStock = ViewBag.editando ? ViewBag.materialDisponible.StockAlerta : "", 
        codigo =  ViewBag.editando ? ViewBag.materialDisponible.Codigo : "", 
    };
}
<form id="frm-ingreso-datos-materiales">
    <div class="row">
        <div class="col-lg-12">
            <div id="demo-panel-network" class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button id="demo-panel-network-refresh" class="btn btn-default btn-active-primary" data-toggle="panel-overlay" data-target="#demo-panel-network"><i class="demo-psi-repeat-2"></i></button>
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li><a><i class="demo-pli-home"></i></a></li>
                            <li class="active">Ingreso Materiales</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="x">Nombre Material</label>
                            <div class="input-group mar-btm">
                                <span class="input-group-addon"><i class="demo-pli-list-view"></i></span>
                                <input type="text" id="NombreMaterial" name="NombreMaterial" class="form-control" value="@modelo.nombre">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="x">Unidad Medida</label>
                            <select class="form-control" id="sslUnidadMedida" name="sslUnidadMedida">
                                    <option value="">Selecione</option>
                                    @foreach(var itm in ViewBag.unimedListado)
                                    {
                                        @if(ViewBag.editando && ViewBag.materialDisponible.UnidadMedida.Id == itm.Id)
                                        {
                                            <option value="@itm.Id" selected>@itm.Nombre</option>
                                        }
                                        else
                                        {
                                            <option value="@itm.Id">@itm.Nombre</option>
                                        }
                                    }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="x">Precio Unidad</label>
                            <div class="input-group mar-btm">
                                <span class="input-group-addon"><i class="demo-pli-add-user-star"></i></span>
                                <input type="text" id="PrecioMaterial" name="PrecioMaterial" class="form-control" value="@modelo.precio">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="x">Stock de Alerta</label>
                            <div class="input-group mar-btm">
                                <span class="input-group-addon"><i class="demo-pli-mail"></i></span>
                                <input type="text" id="StockMaterial" name="StockMaterial" class="form-control" value="@modelo.alertStock">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="x">Codigo</label>
                            <div class="input-group mar-btm">
                                <span class="input-group-addon"><i class="demo-pli-add-user-star"></i></span>
                                <input type="text" id="Codigo" name="Codigo" class="form-control" value="@modelo.codigo">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="x">Marca</label>
                            <select class="form-control" id="slMarca" name="Marca">
                                <option value="">Selecione</option>
                                @foreach(var itm in ViewBag.marcaListado)
                                {
                                    @if(ViewBag.editando && ViewBag.materialDisponible.Marca.Id == itm.Id)
                                    {
                                        <option value="@itm.Id" selected>@itm.Nombre</option>
                                    }
                                    else
                                    {
                                        <option value="@itm.Id">@itm.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="text-right no-print">
                        <input type="hidden" name="Id" value="@ViewBag.Id" />
                        <a href="/MantenedorMateriales/Listado" class="btn btn-primary" >Volver</a>
                        <button class="btn btn-success submit-generico">Guardar</button>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

</form>

@section Scripts{
    <script src="~/Assets/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-validator/bootstrapValidator.min.js" ></script>


 <script>
        $(function () {
         $('#frm-ingreso-datos-materiales').bootstrapValidator({
                excluded: [':disabled', ':not(:visible)'],
                feedbackIcons: [],
                fields: {
                    NombreMaterial: {
                        validators: {
                            notEmpty: {
                                message: 'Debe ingresar un Nombre'
                            }
                            }
                         },
                   sslUnidadMedida: {
                        validators: {
                          notEmpty: {
                                message: 'Debe Seleccionar Unidad de Medida'
                             }   
                            }
                         },
                    PrecioMaterial: {
                        validators: {
                            integer: {
                                        message: 'Debe Ingresar un Número'
                                    },
                          notEmpty: {
                                message: 'Debe Ingresar Precio'
                             }   
                            }
                         },
                         StockMaterial: {
                        validators: {
                             integer: {
                                        message: 'Debe Ingresar un Número'
                                    },
                          notEmpty: {
                                message: 'Debe Ingresar un Stock'
                             }   
                            }
                         },
                          Codigo: {
                        validators: {
                            
                          notEmpty: {
                                message: 'Debe Ingresar un Código'
                             }   
                            }
                         },
                           Marca: {
                        validators: {
                          notEmpty: {
                                message: 'Debe Ingresar una Marca'
                             }   
                            }
                         }
                    }
            }).on('success.form.bv', function (e) {
                // Prevén que se mande el formulario
                e.preventDefault();
                var $form = $(e.target);
                let model = $form.serializeFormJSON();
                $.ajax({
                    type: "POST",
                    url: "/api/mantenedor/materiales",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8" 
                }).done(function (data) {
                    $.niftyNoty({
                        type: "success",
                        container : "floating",
                        title : "Suceso Exitoso",
                       message : "Los datos del Material se han guardado correctamente",
                        closeBtn : false,
                        timer : 5000
                    });
                    $form.data('bootstrapValidator').resetForm(true);
                }).fail(function (xhr, textStatus) {
                    $.niftyNoty({
                        type: "warning",
                        container : "floating",
                        title : "Suceso Erroneo",
                        message : "Está mal: " + textStatus,
                        closeBtn : false,
                        timer : 5000
                    });
                }).always(function () {
                    $(".submit-ingreso-datos-materiales").html("Guardar");
                });
            });
        });
    </script>

}
